.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  /* border: 3px solid; */
  border-radius: 20px;

  & * {
    text-align: left;
  }
}

.form {
  border-radius: 20px;
  max-width: 350px;
  width: 100%;
  background-color: white;
  margin: 1.3em auto;
  padding: 10px;
  /* border: 1px solid; */
  box-shadow: 0 0 3px black;
}

.section {
  margin: 1.3em auto;
  height: 300px;
  width: clamp(300px, 80%, 460px);
}

.section h3 {
  text-align: center;
}

.iframe {
  border-radius: 20px;
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px black;
}

.textArea {
  width: 90%;
  padding: 3px;
  /* border-radius: 10px; */
  min-height: 50px;
  outline: 0;
  resize: vertical;
  transition: all 1s;
}

.textArea:invalid {
  background-color: rgba(0, 0, 0, 0.1);
}

.contacts div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  margin: 0.8em auto;
  /* border: 1px solid; */
}

.contacts div img {
  width: 64px;
}

.link {
  cursor: pointer;
}