@keyframes appear {
  0% {
    transform: translateY(30px) scale(1);
    opacity: 0;
  }
}

.container {
  min-height: 90dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  animation: appear 1s ease-in-out 0s 1;
}
