.button {
    padding: 0.35rem 1.5rem;
    margin: 1rem auto;
    display: block;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: lightblue;
}