
.container {
    position: relative;
    flex-basis: 250px;
    max-width: 300px;
    min-height: 300px;
    /* background-color: aquamarine; */
}

.container img {
    border-radius: var(--radius);
    width: 100%;
    min-height: 100%;
    user-select: none;
}

.info {
    border-radius: var(--radius);
    background-color: rgb(185 236 255 / 30%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    backdrop-filter: blur(1px);
    padding: 20px 10px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}

.info > * {
    /* color: rgb(255, 255, 255); */
    font-size: larger;
    filter: blur(0);
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 2px;
}

.year  {
    font-size: 12px;
    justify-self: end;
}

.info.white > * {
    color: rgb(255, 255, 255);
}
.info.black > * {
    color: rgb(196, 32, 32);
}