

.container {
    /* border: 3px solid; */
    justify-content: space-evenly;
    align-items: center;
    max-width: 900px;
    margin: auto;
    margin-bottom: 1.5em;
    gap: .5em;
    display: flex;
    flex-flow: row wrap-reverse;
}

.container > * {
    flex-basis: 200px;
}

.contacts li {
    white-space: nowrap;
}

.contacts a {
    white-space: nowrap;
    color: blue;
}