@keyframes appear {
  0% {
    transform: translateY(30px) scale(1);
    opacity: 0;
  }
}

@font-face {
  font-family: "aaa";
  src: url(assets/fonts/Roboto-Medium.ttf);
}

:root {
  --radius: 10px;
}

* {
  font-family: "aaa", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: default;
  line-height: 1.8;
  /* border: 3px solid; */
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(45deg, #334eac,#f9fcff); */
  background-color: rgba(246, 248, 214, 0.4);
  min-height: 100dvh;

  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a69);
  background: rgb(151, 181, 225);
}

a {
  text-decoration: none;
  cursor: pointer;
}

header.isNavBarOpen + div {
  display: none;
}

@font-face {
  font-family: "Arial";
  font-variant: normal;
  font-weight: normal;
  src: url("#FontID6") format(svg);
}
@font-face {
  font-family: "Aquawax";
  font-variant: normal;
  font-style: normal;
  font-weight: 900;
  src: url("#FontID2") format(svg);
}
@font-face {
  font-family: "Montserrat Black";
  font-variant: normal;
  font-style: normal;
  font-weight: 900;
  src: url("#FontID1") format(svg);
}
@font-face {
  font-family: "Montserrat";
  font-variant: normal;
  font-weight: normal;
  src: url("#FontID0") format(svg);
}
.fil2 {
  fill: none;
}
.fil1 {
  fill: #00afef;
}
.fil9 {
  fill: #0070b2;
}
.fil10 {
  fill: #00ccff;
}
.fil8 {
  fill: #00ccff;
}
.fil7 {
  fill: white;
}
.fil4 {
  fill: #fefefe;
  fill-rule: nonzero;
}
.fil5 {
  fill: #c6c9c9;
  fill-rule: nonzero;
}
.fil6 {
  fill: #b0b2b2;
  fill-rule: nonzero;
}
.fil3 {
  fill: white;
  fill-opacity: 0.058824;
}
.fil11 {
  fill: url(#id73);
}
.fil13 {
  fill: url(#id74);
}
.fil12 {
  fill: url(#id75);
}
.fil15 {
  fill: url(#id76);
}
.fil14 {
  fill: url(#id77);
}
.fil17 {
  fill: url(#id78);
}
.fil0 {
  fill: url(#id79);
}
.fil16 {
  fill: url(#id80);
}
.fnt13 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt14 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt29 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt31 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt34 {
  font-weight: 900;
  font-size:100px;
  font-family: "Montserrat Black";
}
.fnt32 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt12 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt27 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt28 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt21 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt17 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt33 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt8 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt16 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt6 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt3 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt22 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt4 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt11 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt10 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt20 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt23 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt15 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt30 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt7 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt24 {
  font-weight: 900;
  font-size: 100px;
  font-family: "Montserrat Black";
}
.fnt18 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Montserrat Black";
}
.fnt35 {
  font-weight: normal;
  font-size: 1100px;
  font-family: "Arial";
}
.fnt26 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Montserrat Black";
}
.fnt25 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Montserrat Black";
}
.fnt5 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Aquawax";
}
.fnt2 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Aquawax";
}
.fnt9 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Montserrat Black";
}
.fnt19 {
  font-weight: 900;
  font-size: 1100px;
  font-family: "Montserrat Black";
}
.fnt0 {
  font-weight: normal;
  font-size: 5100px;
  font-family: "Montserrat";
}
.fnt1 {
  font-weight: 900;
  font-size: 7100px;
  font-family: "Montserrat Black";
}
