@keyframes appear {
  0% {
    transform: translateY(30px) scale(1);
    opacity: 0;
  }
}

@font-face {
  font-family: "aaa";
  src: url(assets/fonts/Roboto-Medium.ttf);
}

:root {
  --radius: 10px;
}

* {
  font-family: "aaa", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0; 
  padding: 0;
  text-align: center;
  cursor: default;
  line-height: 1.8;
  /* border: 3px solid; */
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(45deg, #334eac,#f9fcff); */
  background-color: rgba(246, 248, 214, 0.4);
  min-height: 100dvh;

  background: #757f9a;
  background: -webkit-linear-gradient(to right, #d7dde8, #757f9a);
  background: linear-gradient(to right, #d7dde8, #757f9a69);
  background: rgb(151, 181, 225);
}

a {
  text-decoration: none;
  cursor: pointer;
}

header.isNavBarOpen + div {
  display: none;
}